In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt; plt.style.use('seaborn')

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# Path shortcut to files
path = '/content/drive/My Drive/GITHUB REPO/Walmart_forecasting_ML'

In [31]:
features = pd.read_csv(f"{path}/walmart_data/features.csv")
features.head()

   Store        Date  Temperature  ...         CPI  Unemployment  IsHoliday
0      1  2010-02-05        42.31  ...  211.096358         8.106      False
1      1  2010-02-12        38.51  ...  211.242170         8.106       True
2      1  2010-02-19        39.93  ...  211.289143         8.106      False
3      1  2010-02-26        46.63  ...  211.319643         8.106      False
4      1  2010-03-05        46.50  ...  211.350143         8.106      False

[5 rows x 12 columns]

In [14]:
stores = pd.read_csv(f"{path}/walmart_data/stores.csv")
stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [15]:
main_set = pd.read_csv(f"{path}/walmart_data/train.csv")
main_set.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [18]:
print("Features set:",len(features))
print("Stores set:",len(stores))
print("Main set:", len(main_set))

Features set: 8190
Stores set: 45
Main set: 421570

In [30]:
# The final testing set
pd.read_csv(f"{path}/walmart_data/test.csv").head()

   Store  Dept        Date  IsHoliday
0      1     1  2012-11-02      False
1      1     1  2012-11-09      False
2      1     1  2012-11-16      False
3      1     1  2012-11-23       True
4      1     1  2012-11-30      False

We have to merge with 'stores and features' data frames to get more attributes

### Merging the full dataset (main_set)

In [34]:
# merge with stores dataframe
main_set = main_set.merge(stores, how='left', on='Store')
main_set.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday Type    Size
0      1     1  2010-02-05      24924.50      False    A  151315
1      1     1  2010-02-12      46039.49       True    A  151315
2      1     1  2010-02-19      41595.55      False    A  151315
3      1     1  2010-02-26      19403.54      False    A  151315
4      1     1  2010-03-05      21827.90      False    A  151315

In [39]:
# merge with features dataframe
main_set = main_set.merge(features, how='left')
main_set.head()

   Store  Dept        Date  ...  MarkDown5         CPI Unemployment
0      1     1  2010-02-05  ...        NaN  211.096358        8.106
1      1     1  2010-02-12  ...        NaN  211.242170        8.106
2      1     1  2010-02-19  ...        NaN  211.289143        8.106
3      1     1  2010-02-26  ...        NaN  211.319643        8.106
4      1     1  2010-03-05  ...        NaN  211.350143        8.106

[5 rows x 16 columns]

### Split train/test data

* train set > 2010-02-05 to 2011-12-31
* test_set > 2012-01-01 to 2012-11-01

In [51]:
train_set = main_set[main_set['Date']<='2011-12-31']
train_set.head()

   Store  Dept        Date  ...  MarkDown5         CPI Unemployment
0      1     1  2010-02-05  ...        NaN  211.096358        8.106
1      1     1  2010-02-12  ...        NaN  211.242170        8.106
2      1     1  2010-02-19  ...        NaN  211.289143        8.106
3      1     1  2010-02-26  ...        NaN  211.319643        8.106
4      1     1  2010-03-05  ...        NaN  211.350143        8.106

[5 rows x 16 columns]

In [44]:
test_set = main_set[main_set['Date']>'2011-12-31']
test_set.head()

     Store  Dept        Date  ...  MarkDown5         CPI Unemployment
100      1     1  2012-01-06  ...    8483.00  219.714258        7.348
101      1     1  2012-01-13  ...    3719.38  219.892526        7.348
102      1     1  2012-01-20  ...    3400.21  219.985689        7.348
103      1     1  2012-01-27  ...    1222.19  220.078852        7.348
104      1     1  2012-02-03  ...    5630.40  220.172015        7.348

[5 rows x 16 columns]

train/test ratio: ~70/30

In [48]:
print("Train Ratio Set:", f"{round((len(train_set) / len(main_set) * 100), 4)}%")
print("Test Ratio Set:", f"{round((len(test_set) / len(main_set) * 100), 4)}%")

Train Ratio Set: 69.7706%
Test Ratio Set: 30.2294%

### Exploratory Data Analysis

In [0]:
# Get a report of actual train set